<div class="social-links">
  <h1>CONTACT ME</h1>
  <hr class="rounded" />

  <ul>
    <li>
      <a href="#" onclick="openfb()"
        ><i class="fab fa-facebook-f icon"></i
      ></a>
    </li>
    <li>
      <a href="#" onclick="opentwitter()"
        ><i class="fab fa-twitter icon"></i
      ></a>
    </li>
    <li>
      <a href="#" onclick="openyt()"
        ><i class="fab fa-youtube icon"></i
      ></a>
    </li>
    <li>
      <a href="#" onclick="opengit()"><i class="fab fa-github icon"></i></a>
    </li>
  </ul>
</div>
